/* SCSS variabler */

$font: tahoma, arial, sans-serif;
$baggrund: #F4F4EE;
$blue: #99CCCC;
$orange: #F89920; 
$menu: #ffffff;
$menu-font: #95989A;
$markering: #5E6061;


@media (min-width:1025px){
	
	* {
	margin: 0;
	padding: 0;
	font-family: $font;
}

body {
	background-color:  $baggrund;
}
//skjul mobilmenu
.mobile {
	display:none;
	position: fixed;
	top: 0;
	width: 100%;
	div {
		display: none;
	}
	border-bottom: 1px solid $menu-font;
}


a {
	background: $menu;
	text-align: center;
	color: $menu-font;
	font-weight: bold;
	text-decoration: none;

	
}
.desktop a {
	width: 0,8em;
	box-sizing: border-box;
}

.desktop {
	overflow: hidden;
	background: $menu;
	border-bottom: 1px solid $menu-font;
	padding-top: 10px;
 }
	
	.desktop {
	display: block;
	}
	.logo {
		float: left;
		width: 100px;
		height: auto;
		margin-left: 20px;
		margin-bottom: 3px;
		margin-top: -10px;
	}
	.menu {
		float: right;
		margin-top: 12px;
	}
	
	.menu a {
		padding-right: 25px;
	}
	.content {
		width: 75%;
	}
	.sidebar {
		width: 25%;
	}
}



	
/*
* {
	margin: 0;
	padding: 0;
	font-family: $font;
}

body {
	background-color:  $baggrund;
}
//skjul mobilmenu
.mobile {
	display:none;
	position: fixed;
	top: 0;
	width: 100%;
	div {
		display: none;
	}
}



//styling button

.mobile button {
	position:absolute;
	top: 15px;
	right: 15px;
	height: 30px;
	width: 30px;
	background: url("hamburger.svg") center no-repeat;
	background-size: 80%;
	border: 1px solid black;
	border-radius: 3px;
	transition: 500ms ease-in;
}

.mobile button.expanded {
	transform: rotate(90deg);
}

article {
	margin: 50px 15px;
}
.mobile a {
	display: block;
}

a {
	background: $menu;
	text-align: center;
	color: $menu-font;
	font-weight: bold;
	padding: 20px 15px;
	text-decoration: none;

	
}
.desktop a {
	width: 0,8em;
	float: right;
	box-sizing: border-box;
}

.desktop {
	overflow: hidden;
	background: $menu;
 }
@media (max-width:600px){
	.mobile{
	display:block;
	}
	.desktop {
	display: none;
	}
}*/